/*@font-face {*/
/*font-family: "SF Pro Text";*/
/*src: url("");*/
/*}*/

html, body, .App, section{
  overscroll-behavior: none;
}

html {
    height  : 100%;
    overflow: hidden;
    position: relative;
}
body {
    height  : 100%;
    overflow: auto;
    position: relative;
}

body{
  margin:0;
  font-family: sans-serif;
}

.App{
  overflow: hidden;
  /*height: 100vh;*/
}

header{
  background-color:white;
  width: 100%;
  height:60px;
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 2;
  position: absolute;
  box-shadow: 0 7px 8px #ECECEC;
}
header div{
  display: flex;
  align-items: center;
}
header svg, .MuiButtonBase-root.menuBtn svg{
    width: 28px;
    height: 28px;
    margin: 15px 0 0 20px;
}
header .right-icons{
  margin-right:10px;
}

section{
  /*height: 100vh;*/
  background-color: #F1F1F1;
}

section img{
  width:100%;
  margin-top: 121px;
}

section img.fullsize{
  height:100vh;
  width:auto;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  height:60px;
  display: flex;
  background-color: white;
  box-shadow: 0 -7px 8px #ECECEC;
}

.location-container, .slide-container{
  width:100%;
}
.location-container {
  height: 80px;
  background-color: white;
}

.location-text{
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  font-size:13px;
}

.location-text p {
  margin: 0;
}

.location-text p:first-child{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
}

.location-text p:last-child{
  color:#D4D4D4;
}

footer input{
  display:inline;
  margin-left: 10px;
  /*margin-top:20px;*/
}

footer input{
  width: 30px;
  height: 24px;
  margin-top: 16px;
  margin-right: 8px;
  background-color: #EAEAEB;
  border: none;
  color:#00467A;
  border-radius: 4px;
  text-align: center;
}

footer input:focus {
  outline: #879CAB auto 5px;
}

.location-bar {
  height: 2px;
  width: 540px;
  background-color: grey;
  position: absolute;
  top: 56px;
  left: 156px;
  display: flex;
}

.mark {
  height: 17px;
  width: 2px;
  border: 2px;
  background: grey;
  position: relative;
  top: -8px;
}

.mark.mark1{
  left: 0px;
}
.mark.mark2{
  left: 98px;
}
.mark.mark3{
  left: 196px;
}
.mark.mark4{
  left: 293px;
}
.mark.mark5{
  left: 392px;
}

.slide-container {
  height: 60px;
  background-color: white;
}

.slide-container p{
  position: absolute;
  left: 47%;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 5px;
}

.slide-container .MuiSlider-root {
    margin: 0 8px;
    color: #C7C7C7;
    width: 90%;
    padding: 29px 0px 21px 0px;
}

.slide-container .MuiSlider-rail{
  opacity: 1;
  height: 3px;
}

.slide-container .MuiSlider-thumb{
  color:#003860;
  width:16px;
  height:16px;
  bottom: 14px;
}

.slide-container .MuiSlider-mark{
  background-color:white;
  height: 18px;
  width: 18px;
  /*border: 2px solid #C7C7C7;*/
  border-radius: 10px;
  bottom: 13px;
  opacity: 0;
}

.slide-container .MuiSlider-mark:after{
  content:url('images/history.svg');
  position: absolute;
  top:0;
  left:0;
}

.history{
  padding:10px 8px;
  background-color:#003860;
  color:white;
  position:absolute;
  top: 140px;
  border-radius: 8px;
  cursor:pointer;
  z-index: 100;
  display: flex;
  align-items: center;
}

.history:before{
  content:'';
  display:block;
  width: 0;
  height: 0;
  position: absolute;
}

.history img{
  width:18px;
  height:18px;
  margin-right: 8px;
  z-index: 100;
}

.history p{
  margin:0;
  padding-bottom: 2px;
  font-size:14px;
  font-weight: 600;
  z-index: 100;
}

.history.left:before{
  width: 26px;
  height: 26px;
  background: #003860;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 2px;
  /*border-top: 18px solid transparent;*/
  /*border-bottom: 18px solid transparent;*/
  /*border-right: 18px solid #003860;*/
  left: -9px;
}

.history.right:before{
  width: 26px;
  height: 26px;
  background: #003860;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 2px;
  /*border-top: 18px solid transparent;*/
  /*border-bottom: 18px solid transparent;*/
  /*border-left: 18px solid #003860;*/
  right:-9px;
}

.history.left{
  left:20px;
  padding-right: 14px;
}

.history.right{
  right:20px;
  padding-left: 14px;
}


.history.left.history-enter {
  left: -90px;
}
.history.left.history-enter-active {
  left: 20px;
  transition: all 200ms ease;
}
.history.left.history-enter-done{
  left:20px;
}
.history.left.history-exit {
  left: 20px;
}
.history.left.history-exit-active {
  left: -90px;
  transition: all 200ms ease;
}
.history.left.history-exit-done{
  left:-90px;
}



.history.right.history-enter {
  right: -98px;
}
.history.right.history-enter-active {
  right:20px;
  transition: all 200ms ease;
}
.history.right.history-enter-done{
  right:20px;
}
.history.right.history-exit {
  right: 20px;
}
.history.right.history-exit-active {
  right: -98px;
  transition: all 200ms ease;
}
.history.right.history-exit-done{
  right:-98px;
}


.book-popup{
  width: 96%;
  height:70px;
  background-color: #003860;
  position: absolute;
  left:7px;
  bottom: 80px;
  border-radius: 8px;
  color:white;
}

.book-popup-enter {
  bottom:-80px
}
.book-popup-enter-active {
  bottom: 80px;
  transition: all 200ms ease;
}
.book-popup-enter-done{
  bottom: 80px;
}
.book-popup-exit {
  bottom: 80px;
}
.book-popup-exit-active {
  bottom:-80px;
  transition: all 400ms ease-out;
}
.book-popup-exit-done{
  bottom:-80px
}

.arrow{
  content:'';
  display:block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #003860;
  position: absolute;
  bottom: -9px;
  margin-left: 43px;
}

.page-row-container{
  overflow: hidden;
}

.page-row{
  list-style-type:none;
  display: flex;
  position: relative;
  left: 13px;
  padding-inline-start: 0px;
  margin-left: 46%;
  margin-top: 8px;
}

.page-row li{
  margin-right: 2px;
  padding:1px;
  border-radius: 2px;
  border: 1px solid transparent;
  height: 16px;
  width:10px;
}

.page-row li.active{
  border: 1px solid white;
}

.page-row li img{
  opacity:0.6;
}

.page-row li.active img{
  opacity:1;
}


.MuiButtonBase-root.menuBtn{
  padding: 3px 0 0 2px;
  margin-top: 10px;
  margin-left: 10px;
  min-width:28px;
}

.MuiButtonBase-root.menuBtn svg{
  margin:0;
}

.book-card{
  display: flex;
  padding: 20px;
}

.book-card img{
  height: 100px;
}

.book-card p{
  margin-left:20px;
}

.toc{
  list-style-type:none;
  padding-inline-start: 20px;
  overflow: scroll;
  height: 390px;
}

.toc li{
  margin: 20px 0;
}
