html{
/*cursor: url("./images/touch.svg") 25 15, auto;*/
}

body{
margin:0;
font-family: sans-serif;
}

#frame{
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-image: url('./images/iphone-x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1400;
}

#app-container{
    width: 307px;
    height: 665px;
    margin-top: 50px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.App{
  height:inherit;
}

header{
  background-color:white;
  border-bottom: 1px solid grey;
  width: 100%;
  height:60px;
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
}
header div{
  display: flex;
  align-items: center;
}
header svg, .MuiButtonBase-root.menuBtn svg{
    width: 28px;
    height: 28px;
    margin: 15px 0 0 20px;
}
header .right-icons{
  margin-right:10px;
}

section{
  height: calc(100% - 214px);
}

section img{
  width:100%;
  height:auto;
  margin-top: 30px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.location-container, .slide-container{
  width:100%;
}
.location-container {
  height: 80px;
  background-color: white;
  border-top: 1px solid grey;
}

.location-text{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size:13px;
}

.location-text p:first-child{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:210px;
}

.location-bar {
  height: 2px;
  width: 540px;
  background-color: grey;
  position: absolute;
  top: 56px;
  left: 156px;
  display: flex;
}

.mark {
  height: 17px;
  width: 2px;
  border: 2px;
  background: grey;
  position: relative;
  top: -8px;
}

.mark.mark1{
  left: 0px;
}
.mark.mark2{
  left: 98px;
}
.mark.mark3{
  left: 196px;
}
.mark.mark4{
  left: 293px;
}
.mark.mark5{
  left: 392px;
}

.slide-container {
  height: 60px;
  background-color: #DFDFDF;
}

.slide-container:before{
  content:'';
  display:block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #DFDFDF;
  position: absolute;
  bottom: 60px;
  left:48%;
}

.slide-container p{
  position: absolute;
  left: 47%;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 5px;
}

.history{
  padding:10px 8px;
  background-color:#313131;
  color:white;
  font-size:12px;
  position:absolute;
  top:50%;
  border-radius: 8px;
  opacity: 0.8;
  cursor:pointer;
  /*cursor: url("./images/touch.svg") 25 15, auto;*/
}

.history:before{
  content:'';
  display:block;
  width: 0;
  height: 0;
  position: absolute;
  top:15px;
}

.history p{
  margin:0;
}

.history.left{
  left:12px;
}

.history.right{
  right:12px;
}

.history.left:before{
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #313131;
  left:-10px;
}

.history.right:before{
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #313131;
  right:-10px;
}

.history.left.history-enter {
  left: -88px;
}
.history.left.history-enter-active {
  left: 12px;
  transition: all 200ms ease;
}

.history.right.history-enter {
  right: -98px;
}
.history.right.history-enter-active {
  right:12px;
  transition: all 200ms ease;
}
/*.history-exit {*/
/*  opacity: 1;*/
/*}*/
/*.history-exit-active {*/
/*  opacity: 0;*/
/*  transition: opacity 200ms;*/
/*}*/

.slide-container .MuiSlider-mark{
  opacity: 1;
  height: 6px;
  width: 6px;
  top: 11px;
}

.slide-container .MuiSlider-root{
  /*cursor: url("./images/touch.svg") 25 15, auto;*/
}

.MuiButtonBase-root.menuBtn{
  padding: 3px 0 0 2px;
  margin-top: 10px;
  margin-left: 10px;
  min-width:28px;
}

.MuiButtonBase-root.menuBtn svg{
  margin:0;
}

.MuiDrawer-root .MuiDrawer-modal{
  bottom:51px;
}

.MuiDrawer-modal .MuiBackdrop-root{
  width: 308px;
  margin: 0 auto;
  margin-top: 50px;
  height: 450px;
  border-radius: 34px 34px 0 0;
  z-index: 2;
}

.MuiDrawer-modal .MuiDrawer-paper{
  width: 306px;
  margin:0 auto;
  margin-bottom: 51px;
  border-radius: 12px 12px 34px 34px;
  z-index: 3;
}

.book-card{
  display: flex;
  padding: 20px;
}

.book-card img{
  height: 100px;
}

.book-card p{
  margin-left:20px;
}

.toc{
  list-style-type:none;
  padding-inline-start: 20px;
  overflow: scroll;
  height: 390px;
}

.toc li{
  margin: 20px 0;
}
